<%- include('partials/header') %>
<!-- This is the About Me page. It displays personal information and a link to the resume. -->


<div class="container">
    <!-- Profile Picture -->
    <div class="img_style">
        <img src="/images/profile.jpg" alt="Your Picture" style="width: 200px; height: auto; border-radius: 50%;">
    </div>

    <!-- Description -->
    <div class="textcontainer">
      <h1>About Me</h1>
      <p>Hey there! I'm Ezaco, a 23-year-old Software Engineering student at Centennial College. I'm an energetic individual who loves diving into interesting projects.</p>
      <p>In the past, I've had the opportunity to assist some developers in building a system software for my father's company, which deals with office data registration.</p>
      <p>My goal is to become a proficient web application developer, creating quick and useful solutions for various businesses. Feel free to explore my website to know more about my projects and services.</p>
    </div>

    <!-- Link to PDF Resume -->
    <p>
      <i>Additionally, <a href="../../public/Resume Ezaco Antonio.pdf" target="_blank">here</a> is the link for my Resume.</i>
    </p>
</div>

<%- include('partials/footer') %>
