<% include partials/header.ejs %>
<section class="textcontainer">
    <h1>Welcome to My Portfolio!</h1>
    <p>Hey there! I'm Ezaco Antonio, a 23-year-old Software Engineering student at Centennial College and an auto body shop repairer by profession. This website is my very first Express.js application, and I couldn't be more excited to share it with you!</p>
    
    <p>Building this project has been an incredible journey. It's been a blend of late-night coding, countless cups of coffee, and moments of pure "Aha!" that made all the hard work worth it. I've poured my passion for coding into this site, and I'm thrilled to showcase what I've learned so far.</p>
    
    <p>So go ahead, take a look around! Check out my projects, learn a bit more about me, and don't hesitate to reach out. I hope you find my work as interesting to explore as it was for me to build.</p>
    
    <p>Enjoy your stay!</p>
  </section>
  
<% include partials/footer.ejs %>
