<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to My Portfolio</h1>
    <p>This is my mission statement.</p>
  </body>
</html>
