<%- include('partials/header') %>

<div class="container">
    <h1>My Projects</h1>
  
    <!-- Project 1 -->
    <div class="project-card">
      <h2>Project 1</h2>
      <img src="/images/project1.png" alt="Project 1 Screenshot">
      <p>Description of Project 1.</p>
      <a href="C:\Users\ezaco\OneDrive\Desktop\Term 3\Advanced Database\Portfolio_page_EzacoAntonio\public\static-projects\project1\index.html" class="project-button">Explore</a>
    </div>
  
    <!-- Project 2 -->
    <div class="project-card">
      <h2>Project 2</h2>
      <img src="/images/project2.png" alt="Project 2 Screenshot">
      <p>Description of Project 2.</p>
      <a href="/project2" class="project-button">Explore</a>
    </div>
  
    <!-- Project 3 -->
    <div class="project-card">
      <h2>Project 3</h2>
      <img src="/images/project3.png" alt="Project 3 Screenshot">
      <p>Description of Project 3.</p>
      <a href="/project3" class="project-button">Explore</a>
    </div>
  </div>
  <script src="/javascripts/projects.js"></script>

<%- include('partials/footer') %>
