<%- include('partials/header') %>

<div class="container">
    <h1>My Projects</h1>
    <div class="textcontainer">
        <p>
            While working as a Beer Back at the Rogers Centre, I noticed some ways to make things smoother. Many tasks were done manually and took up a lot of time, especially with inventory and tracking sales. So, I decided to create a set of projects to simplify these tasks.

            <h2>Inventory Made Easy</h2>
            The first project was an Inventory Management System. It automated the process of counting items before and after baseball games. No more manual counting – it provided instant updates on stock levels and what needed to be reordered.

            <h2>Keeping Tabs on Sales</h2>
            Next up was the Vendor Sales Tracker. This tool helped keep track of sales by each vendor during their shifts. It calculated profits accurately by recording products sold and returned, ensuring transparency and accountability.

            <h2>Real-Time Sales Estimates</h2>
            Lastly, I developed a Real-Time Sales Estimator for the kitchen staff. Managers could get a quick estimate of kitchen sales during the game. By entering morning inventory values and current levels, the system did the math, making decision-making easier.

            These projects not only boosted efficiency but also lightened the workload for my coworkers. It was satisfying to see how technology could solve real problems and make everyone's job a little simpler.
        </p>
    </div>
    <!-- Project 1 -->
    <div class="project-card">
      <img src="/images/project-1.png" alt="Project 1 Screenshot">
      <a href="http://ezacoantonio.github.io/sheetApp" class="project-button">Explore</a>
    </div>
  
    <!-- Project 2 -->
    <div class="project-card">
      <img src="/images/project-2.png" alt="Project 2 Screenshot">
      <a href="http://ezacoantonio.github.io/countsApp" class="project-button">Explore</a>
    </div>
  
    <!-- Project 3 -->
    <div class="project-card">
      <img src="/images/project-3.png" alt="Project 3 Screenshot">
      <a href="http://ezacoantonio.github.io/salesApp" class="project-button">Explore</a>
    </div>
  </div>
  <script src="/javascripts/projects.js"></script>

<%- include('partials/footer') %>
